
/* phone */
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent none repeat-x scroll left top; background-size: auto auto; opacity: 1; }
.wb_sbg { background: transparent none repeat-x left top; }
.site-lang-en .wb_cont_inner { width: 360px; height: 100%; }
.site-lang-en .wb_cont_bg { width: 360px; margin-left: -180px; }
.site-lang-en .root { min-height: 100%; height: auto; }
#wb_element_instance6836_0 p:last-child { margin-bottom: 0; }
#wb_element_instance6836_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance6837_0 .btn-collapser { display: inline-block; background-color: #050505; border-color: #fffa34; }
#wb_element_instance6837_0 .btn-collapser > .icon-bar { background-color: #fffa34; }
#wb_element_instance6837_0 .btn-collapser:hover { background-color: #fefa85; border-color: #101010; }
#wb_element_instance6837_0 .btn-collapser:hover > .icon-bar { background-color: #101010; }
#wb_element_instance6837_0 { width: 50.53%; height: auto; min-width: 64px; min-height: 24px; max-width: 100%; margin: 2px 15px 0px 15px; flex: 0 0 auto; }
#wb_element_instance6837_0 ul { background: #050505 none repeat left top; }
#wb_element_instance6837_0 > ul { display: none; }
#wb_element_instance6837_0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance6837_0.collapse-expanded > ul > li { display: block; }
#wb_element_instance6837_0.collapse-expanded li > ul { position: static; }
#wb_element_instance6837_0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance6837_0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance6837_0 ul, #wb_element_instance6837_0-det ul { border: 0px none #000000; }
#wb_element_instance6837_0, #wb_element_instance6837_0 ul, #wb_element_instance6837_0-det ul { text-align: right; }
#wb_element_instance6837_0 ul ul, #wb_element_instance6837_0-det ul { background: #101010 none repeat right top; }
#wb_element_instance6837_0 li, #wb_element_instance6837_0-det li { margin: 0px 0px 0px 0px; }
#wb_element_instance6837_0 li a, #wb_element_instance6837_0-det li a { padding: 20px 20px 20px 20px; border: 0px none #000000; font-style: normal bold ; font: normal bold 25px 'Open Sans Condensed',Arial,sans-serif; font-family: 'Open Sans Condensed',Arial,sans-serif; color: #fffa34; text-decoration: none; line-height: 18px; text-transform: capitalize; background: transparent none no-repeat center top; background-size: auto auto; opacity: 1; }
#wb_element_instance6837_0 li.over > a, #wb_element_instance6837_0 li:focus > a, #wb_element_instance6837_0-det li.over > a, #wb_element_instance6837_0-det li:focus > a { border: 0px none #000000; font-style: normal bold ; font: normal bold 25px 'Open Sans Condensed',Arial,sans-serif; font-family: 'Open Sans Condensed',Arial,sans-serif; color: #101010; text-decoration: none; line-height: 18px; background: #fefa85 none repeat left top; background-size: auto auto; }
#wb_element_instance6837_0 li.active > a, #wb_element_instance6837_0-det li.active > a { border: 2px solid #fefa85; font-style: normal bold ; font: normal bold 25px 'Open Sans Condensed',Arial,sans-serif; font-family: 'Open Sans Condensed',Arial,sans-serif; color: #101010; text-decoration: none; line-height: 18px; background: #fefa85 none no-repeat center center; background-size: auto auto; }
#wb_element_instance6837_0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance6837_0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance6837_0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance6835_0 { width: 100%; height: auto; max-width: 1200px; flex: 0 0 auto; }
#wb_element_instance6835_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: center; align-items: center; justify-content: center; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance6834_0 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6834_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: center; align-items: center; justify-content: center; align-content: center; flex-wrap: wrap; }
#wb_header_2 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_header_2 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: #101010 none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2_2 { opacity: 1; box-sizing: border-box; width: 100%; height: auto; max-width: 1200px; max-height: 400px; flex: 1 1 auto; }
#wb_element_instance2_2 .wb-picture-wrapper { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 0px none #d1d1d1; }
#wb_element_instance2_2 img { width: 100%; height: auto; }
#wb_element_instance1_2 { width: 100%; height: auto; max-width: 100%; max-height: 800px; flex: 1 1 auto; }
#wb_element_instance1_2 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance5_2 p:last-child { margin-bottom: 0; }
#wb_element_instance5_2 { opacity: 1; width: auto; height: auto; max-width: 800px; margin: 10px 0px 10px 0px; flex: 0 0 auto; }
#wb_element_instance6_2 { opacity: 1; box-sizing: border-box; width: 42.86%; height: 345px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6_2 .wb-picture-wrapper { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border: 3px solid #f7f7f7; }
#wb_element_instance6_2 img { width: 100%; height: auto; }
#wb_element_instance7_2 p:last-child { margin-bottom: 0; }
#wb_element_instance7_2 { opacity: 1; width: auto; height: auto; max-width: 800px; margin: 10px 0px 10px 0px; flex: 0 0 auto; }
#wb_element_instance8_2 p:last-child { margin-bottom: 0; }
#wb_element_instance8_2 { opacity: 1; width: auto; height: auto; max-width: 800px; margin: 10px 0px 10px 0px; flex: 0 0 auto; }
#wb_element_instance9_2 { width: auto; height: auto; max-width: 100%; margin: 20px 20px 20px 20px; flex: 0 0 auto; }
#wb_element_instance9_2 .wb_button { margin: 0; width: 100%; min-width: 20px; min-height: 20px; padding: 10px 60px 10px 60px; font-family: 'Roboto',Arial,sans-serif; font-size: 16px; line-height: 24px; letter-spacing: 0px; text-align: center; border: 0px none #333c44; -moz-border-radius: 999px; -webkit-border-radius: 999px; border-radius: 999px; background-color: #fffa34; }
#wb_element_instance9_2 .wb_button > span { color: #000000; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance9_2 .wb_button:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_element_instance9_2 .wb_button:hover > span { color: #101010; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance9_2 .wb_button:hover { background-color: #fff803; }
#wb_element_instance9_2 .wb_button:hover:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_element_instance9_2 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance9_2 .wb_button:active { background-color: #e6e6e6; }
#wb_element_instance9_2 .wb_button:active:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance4_2 { width: 40%; height: auto; max-width: 100%; flex: 1 1 auto; }
#wb_element_instance4_2 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance3_2 { width: 100%; height: auto; max-width: 1200px; flex: 0 0 auto; }
#wb_element_instance3_2 > .wb_content { border: 0px none #000000; -moz-border-radius: nullpx; -webkit-border-radius: nullpx; border-radius: nullpx; min-width: 20px; min-height: 20px; padding: 40px 20px 40px 20px; background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: center; align-items: center; justify-content: space-around; align-content: flex-start; flex-wrap: nowrap; }
#wb_main_2 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_main_2 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: #101010 none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance6841_0 p:last-child { margin-bottom: 0; }
#wb_element_instance6841_0 { opacity: 1; width: auto; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6840_0 { width: auto; height: auto; min-width: 20px; min-height: 20px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6840_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance6843_0 p:last-child { margin-bottom: 0; }
#wb_element_instance6843_0 { opacity: 1; width: auto; height: auto; max-width: 100%; flex: 0 0 auto; text-shadow: 0px -0px 0px transparent; }
#wb_element_instance6842_0 { width: auto; height: auto; min-width: 20px; min-height: 20px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6842_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance6839_0 { width: 100%; height: auto; min-height: 100px; max-width: 100%; flex: 1 1 auto; }
#wb_element_instance6839_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: flex-start; align-items: stretch; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance6838_0 { width: auto; height: auto; min-width: 20px; min-height: 20px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance6838_0 > .wb_content { border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; justify-items: center; align-items: center; justify-content: space-between; align-content: space-between; flex-wrap: nowrap; }
#wb_element_instance6844_0 { width: 100%; height: auto; max-width: 1200px; flex: 1 1 auto; }
#wb_element_instance6844_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: center; align-items: center; justify-content: space-between; align-content: space-between; flex-wrap: nowrap; }
#wb_element_instance6846_0 p:last-child { margin-bottom: 0; }
#wb_element_instance6846_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance6845_0 { width: auto; height: auto; max-width: 100%; flex: 1 1 auto; }
#wb_element_instance6845_0 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; background: transparent none repeat scroll left top; background-size: auto auto; justify-items: center; align-items: center; justify-content: center; align-content: space-around; flex-wrap: nowrap; }
#wb_footer_2 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_footer_2 > .wb_content:before { background: transparent url("../gallery_gen/0eb3b3dd43d18d9bf987c5cf6eedfefd.jpg") no-repeat fixed center center; background-size: cover; opacity: 0.5; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
#wb_footer_2 > .wb_content { border: 0px none #000000; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; background-color: #000000; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_footer_c_0 > .wb_content { width: 100%; height: 100%; }
#wb_footer_c_0 { width: 0px; height: 0px; max-width: 100%; flex: 0 0 auto; }


/* tablet */
@media (min-width: 768px) {
	#wb_element_instance6836_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6837_0 { margin: 2px 15px 0px 15px; }
	#wb_element_instance6837_0 ul { background: transparent none repeat left top; }
	#wb_element_instance6837_0 .btn-collapser { display: none; }
	#wb_element_instance6837_0 > ul, #wb_element_instance6837_0-det > ul { display: block; }
	#wb_header_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance5_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance7_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance8_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance9_2 { margin: 20px 20px 20px 20px; }
	#wb_element_instance3_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 40px 20px 40px 20px; }
	#wb_main_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6844_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6846_0 { margin: 10px 10px 10px 10px; }
	#wb_footer_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; }
}

/* desktop */
@media (min-width: 992px) {
	#wb_element_instance6836_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6837_0 { margin: 2px 15px 0px 15px; }
	#wb_header_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance5_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance7_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance8_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance9_2 { margin: 20px 20px 20px 20px; }
	#wb_element_instance3_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 40px 20px 40px 20px; }
	#wb_main_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6844_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6846_0 { margin: 10px 10px 10px 10px; }
	#wb_footer_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; }
}

/* tv */
@media (min-width: 1200px) {
	#wb_element_instance6836_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6837_0 { margin: 2px 15px 0px 15px; }
	#wb_header_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance5_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance7_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance8_2 { margin: 10px 0px 10px 0px; }
	#wb_element_instance9_2 { margin: 20px 20px 20px 20px; }
	#wb_element_instance3_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 40px 20px 40px 20px; }
	#wb_main_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6844_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; }
	#wb_element_instance6846_0 { margin: 10px 10px 10px 10px; }
	#wb_footer_2 > .wb_content { min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; }
}

/* desktop_and_smaller */
@media (max-width: 1199px) {
}

/* tablet_and_smaller */
@media (max-width: 991px) {
	#wb_element_instance6845_0 > .wb_content { background: transparent none repeat scroll left top; background-size: auto auto; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance6846_0 { width: auto; margin-left: 0; margin-right: 0; }
}

/* phone_only */
@media (max-width: 767px) {
	#wb_element_instance6837_0 { display: block; width: 32px; height: 29px; min-width: 32px; min-height: 29px; max-width: 32px; max-height: 29px; flex: 0 0 32px; }
	#wb_element_instance6834_0 > .wb_content { flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance6835_0 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance3_2 > .wb_content { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance4_2 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance6838_0 > .wb_content { flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance6839_0 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance6844_0 > .wb_content { background: transparent none repeat scroll left top; background-size: auto auto; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
}

/* tablet_only */
@media (min-width: 768px) and (max-width: 991px) {
}

/* desktop_only */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* phone_last */

